*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --logo:22px;
    --logo-weight:bolder;
    --anchor-size:16px;
    --anchor-weight:bold;
    --header-bg:linear-gradient(135deg, #0f172a,#1e3a5f,#312e81);
    --main-bg:linear-gradient(135deg,#241d7a,#000000);
    --footer-bg:linear-gradient(-135deg, #0f172a,#1e3a5f,#1f1c6d);
    
    --form-bg:radial-gradient(circle at center,#0f172a,#312e81);
    
    --box-shadow:rgba(0,0,0,0.24) 0px 3px 8px;
    --btn-font-size:14px;
    
}

/* all over css */
a,input[type='submit'],input[type='reset'],button{
   cursor: pointer;
}